<h1>PlaceYou/<%= title %></h1>

<form action="/users/create-user" method="post">
    <input type="text" name="name" placeholder="Your Name">
    <input type="email" name="email" placeholder="Your Email">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirmPassword" placeholder="Confirm Password">
    <input type="submit" value="Sign Up">
</form>
