.interviewList ul a{
    text-decoration: none;
}

.interviewList ul li {
    list-style-type: none;
}

.interviewList ul {
    margin: 10px 0;
}

.interviewList{
    margin-top: 20px;
    text-align: center;
}